{% load static %}

<div class="card border-light">
  <div class="card-header border-info"><a href="{% url "afisha" %}">Афиша</a></div>
  <div class="card-body text-primary">


  	<div class="card mb-3" style="border-width: 0; border-bottom-width: 2px;">
  <div class="row no-gutters">
    <div class="col-md-4 align-middle">
      <img src="{% static "images/main.jpg" %}" class="card-img " alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="#" class="card-title" style="font-size: 12pt">Спящая красавица</a>
        <p class="card-text" style="font-size: 12pt; color: red"><img style="width: 15px; height: 15px" src="{% static "images/clock.png"%}"> 18.00</p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="border-width: 0; border-bottom-width: 2px;">
  <div class="row no-gutters">
    <div class="col-md-4 align-middle">
      <img src="{% static "images/main.jpg" %}" class="card-img " alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="#" class="card-title" style="font-size: 12pt">XXX Мировое господство</a>
        <p class="card-text" style="font-size: 12pt; color: red">18.00</p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="border-width: 0; border-bottom-width: 2px;">
  <div class="row no-gutters">
    <div class="col-md-4 align-middle">
      <img src="{% static "images/main.jpg" %}" class="card-img " alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="#" class="card-title" style="font-size: 12pt">Без тормозов</a>
        <p class="card-text" style="font-size: 12pt; color: red">18.00</p>
      </div>
    </div>
  </div>
</div>

  </div>
</div>